html {
  min-block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  background-color: #f3eed9;
  inline-size: 100%;
  min-height: 41.25rem; /* 660px */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #824936;
}

h1,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
}

<<<<<<< HEAD
h3 { 
=======
h3 {
  
>>>>>>> 1a2bdd9d6083ec982ca338288c098071b4a54a2f
  font-size: 2.25rem;
}

p {
  font-size: 1.3125rem;
}

header > h1 {
  max-inline-size: 70.5rem;
  font-size: 3.75rem;
  margin-top: 0rem;
}

header > p {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.quality_designs {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5% 7.5%;
  max-inline-size: 70.5rem; /* 1128px */
}

.quality_designs h3 {
  color: #824936;
  margin-top: 0;
}

.quality_designs .paragraphs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 4rem;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-inline-size: 70.5rem; /* 1128px */
  margin: 0 auto;
  padding: 5% 7.5%;
  column-gap: 4rem;
}

.verbiage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-self: flex-start;
  color: white;
  max-inline-size: 50%;
  margin-top: 0;
  text-align: left;
}

.verbiage > h3 {
  margin: 0;
}

img {
  align-self: flex-start;
  max-inline-size: 50%;
  outline: 0px solid;
}

.custom {
  background-color: #222c2a;
  inline-size: 100%;
}

.custom h3 {
  color: #f3eed9;
}

.care {
  background-color: #824936;
  inline-size: 100%;
}

.care h3 {
  color: #f3eed9;
}
